<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #673AB7;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #673AB7;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>

<div style="overflow-x:auto; margin-top: 3%">
  <table class="styled-table">
    <thead>
      <tr>
        <th *ngFor="let tag of tags">{{tag}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.nomeCompleto}}</td>
        <td>{{user.nomeSocial}}</td>
        <td>{{user.dataDeNascimento}}</td>
        <td>{{user.codigo}}</td>
        <td>{{user.sexo}}</td>
        <td>{{user.email}}</td>
        <td>{{user.estado}}</td>
        <td>{{user.municipio}}</td>
        <td>{{user.numeroDeAcessos}}</td>
        <td>{{user.situacao}}</td>
        <td>{{user.dataDeVinculo}}</td>
      </tr>
    </tbody>
  </table>
</div>
